:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(211, 155, 155);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .active {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 30px;
  line-height: normal;
}

.custom-card {
  border: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-card:hover {
  opacity: 80%;
}

.form-container {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(192, 80, 80, 0.637);
  border-radius: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: spin 2s linear infinite;
}