.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(../public/scenario.avif);
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.neon {
  background-color: rgba(189, 54, 144, 0.527);
}

.neon-color {
  color: rgb(147, 30, 194)
}

nav .active {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 30px;
  line-height: normal;
}

.custom-card {
  border: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-card:hover {
  opacity: 80%;
}

.form-container {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(139, 54, 189, 0.637);
  border-radius: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: spin 2s linear infinite;
}