:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(211, 155, 155);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .active {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 30px;
  line-height: normal;
}